@page "/Login"
@attribute [AllowAnonymous]

@using System.ComponentModel.DataAnnotations
@using AdaptiveCards.Blazor.Actions
@using Stories.Client.Services
@using Stories.Shared.Models

@inject HttpClient http
@inject NavigationManager navigation
@inject MockupAuthenticationStateProvider authentication


<!-- login component taken from https://github.com/cornflourblue/blazor-webassembly-registration-login-example -->


<div class="alert @status.BootstrapAlertType mt-4" role="alert">
    <b>@status.Title</b> @status.Message
</div>

<div class="col-md-6 offset-md-3 mt-5">

    <div class="card">
        <h4 class="card-header">Login</h4>
        <div class="card-body">
            <EditForm Model="@loginInfo" OnValidSubmit="OnValidSubmit">
                <DataAnnotationsValidator />
                <div class="form-group">
                    <label>Email</label>
                    <InputText @bind-Value="loginInfo.Email" class="form-control" />
                    <ValidationMessage For="@(() => loginInfo.Email)" style="font-size: smaller" />
                </div>
                <div class="form-group">
                    <label>Password</label>
                    <InputText @bind-Value="loginInfo.Password" type="password" class="form-control" />
                    <ValidationMessage For="@(() => loginInfo.Password)" style="font-size: smaller"/>
                </div>
                <button disabled="@loading" class="btn btn-primary">
                    @if (loading)
                    {
                            <span class="spinner-border spinner-border-sm mr-1"></span>
                    }
                    Login
                </button>
            </EditForm>
        </div>
    </div>

</div>


@code {
    private class LoginInfo
    {
        [Required] public string? Email { get; set; }
        [Required] public string? Password { get; set; }
    }

    private LoginInfo loginInfo = new();
    private StatusInfo status = new();
    private bool loading;                                       // todo: find spinner-border

    private void OnValidSubmit()
    {
        // reset alerts on submit
        status = new();

        loading = true;

        if (authentication.MockSignIn(loginInfo.Email, loginInfo.Password))
            navigation.NavigateTo("/");
        else
        {
            status = new() {
                BootstrapAlertType = "alert-danger",
                Title = "Oops! ",
                Message = "Could not authenticate email and password."
            };

            loading = false;
        }
    }
}